@model ACCTOnlineLibraryManagementSystem.Models.Student


@{
    ViewBag.Title = "StudentLogIn";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    @using (Html.BeginForm())
    {

        <div class="top-content">

            <div class="inner-bg">
                <div class="centralize">
                    <img src="~/images/logo.png" width="250" height="150" />
                </div>
                <div class="container body-login">
                    <div class="row">
                        <div class="col-sm-8 col-sm-offset-2 text">
                            <h2>ACCT Online Library Login Page</h2>
                            <div class="description">
                                <p>Please provide the following information to access ACCT library</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3 form-box">
                            <div class="form-top">
                                <div class="form-top-left">
                                    <h3>Student Login site</h3>
                                    <p>Enter your User Name and Password to log on:</p>
                                </div>


                                <div class="form-top-right">
                                    <i class=" glyphicon glyphicon-lock"></i>
                                </div>
                            </div>
                            <div class="form-bottom">
                                <form role="form" action="" method="post" class="login-form">
                                    @Html.ValidationSummary(true, "Login Failed. Check Your Login Credentials.")
                                    <div class="form-group">
                                        @Html.TextBoxFor(u => u.Email, new {@name = "form-email", @placeholder = " Email", @class = "form-control", @id = "Email"})
                                        @Html.ValidationMessageFor(u => u.Email)
                                    </div>
                                    <div class="form-group">

                                        @Html.TextBoxFor(u => u.Password, new {@name = "form-password", @placeholder = "Password", @class = "form-control", @id = "password"})
                                        @Html.ValidationMessageFor(u => u.Password)
                                    </div>
                                    <div class="center">
                                        <button type="submit" class="btn-info btn-lg">Login</button>
                                        <button type="submit" class="btn-danger btn-lg">Cancel</button>

                                    </div>

                                    <div class="clear"></div>
                                    <p>Not Registered? @Html.ActionLink(" Register Here..", "StudentRegistration", "Account", new {@class = "changelink"})</p>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3 social-login">
                            <h3>...or login with:</h3>
                            <div class="social-login-buttons">
                                <a class="btn btn-link-2" href="#">
                                    <span class="fa fa-facebook"></span> Facebook
                                </a>
                                <a class="btn btn-link-2" href="#">
                                    <span class="fa fa-twitter"></span> Twitter
                                </a>
                                <a class="btn btn-link-2" href="#">
                                    <span class="fa fa-google-plus"></span> Google Plus
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    }

</div>


